@import 'tailwindcss';

@theme {
  --color-yellow: #fbb800;
  --color-purple: #523a96;
  --color-green: #a8c415;
  --color-dark-green: #067d3e;
  --color-pink: #ff34e8;
  --color-dark-pink: #c500a5;
  --color-orange: #ed7d05;
  --color-blue: #3898d4;
}

body {
  font-family: 'Oswald', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

#app {
  min-width: 310px;
}
